@import url("./fonts.css");
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: 46.88px;
  color: #383838;
}
.container {
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
}

.sectionOffer {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 80px;
}

.sectionOffer h2::after {
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  background-color: #f5bd41;
  margin: 20px auto;
}

.offerbox {
  display: flex;
  margin-bottom: 122px;
}

.offer {
  width: 25%;
  text-align: center;
}

.imagewrapperoffer {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.item-text-offer {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 28px;
  color: #383838;
}

/*footer*/
footer {
  background-color: #10367c;
}
.footer {
  display: flex;
  color: #ffffff;
  flex-wrap: wrap;
  padding-top: 120px;
}
.footer-items {
  display: flex;
  flex-direction: column;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 24px;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 23.44px;
}

.footer h4 {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 23.44px;
}

.items2 {
  margin-left: 223px;
  margin-right: 284px;
  margin-bottom: 64px;
}
.reserved-text {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #ffffff;
  margin-bottom: 120px;
}
/*header*/
header {
  background: url(../img/headerphoto.png) no-repeat center / cover;
  height: 100vh;
}
