@import url("./fonts.css");
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  color: #ffffff;
}
ul,
h2 {
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: 46.88px;
  color: #383838;
  margin-block-end: 0;
  margin-block-start: 0;
}
.container {
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
}
svg {
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  align-items: center;
}
/*offer*/
.offer__item__row span {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 28px;
  color: #383838;
}
h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.offer-heading__row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}
.offer-heading__row h2::after {
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  background-color: #f5bd41;
  margin: 20px auto;
}
.like {
  width: 92px;
  height: 100px;
}
.message {
  width: 84px;
  height: 84px;
}
.support {
  width: 75px;
  height: 92px;
}
.device {
  width: 100px;
  height: 67px;
}
.offer__item__row {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 122px;
}
.offer__column-3 {
  width: 25%;
  height: 100%;
  flex-basis: 296px;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 88px;
}
.icon-offer-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

/*footer*/
.footer-list__row ul {
  padding: 0;
  margin: 0;
}
footer {
  background-color: #10367c;
}
.footer-logo__row {
  display: none;
}
a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 24px;
  color: #ffffff;
}
h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  margin: 0;
}
.footer-list__row li {
  list-style: none;
}
.footer-list__row {
  display: flex;
  padding-top: 120px;
  padding-bottom: 64px;
  flex-wrap: wrap;
}
.footer-list__col-2 {
  flex-basis: 33.333%;
}
.footer-copyright {
  padding-bottom: 120px;
  padding-top: 64px;
}
header {
  background: url(../img/headerphoto.png) no-repeat center / cover;
  min-height: 100vh;
}
.nav {
  display: flex;
  padding-top: 51px;
  align-items: center;
  margin-bottom: 196px;
}

.menuheader {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.menuheader li,
.logo {
  margin-right: 24px;
  border-bottom: 4px transparent solid;
  transition: 0.4s;
}
.menuheader li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
  display: flex;
  align-items: center;
}
.menuheader li:nth-child(2) {
  margin-right: 48px;
}

.menuitem:hover {
  border-bottom: 4px #f5bd41 solid;
}

.heading {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  line-height: 58.59px;
  margin-bottom: 100px;
}

/*headerForm*/
.labelheader {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  margin-bottom: 24px;
  margin-left: 24px;
}
.labelcity {
  margin-right: 221px;
}

.inputs {
  position: relative;
  display: flex;
  align-items: center;
}

input {
  padding: 0;
  margin: 0;
  height: 64px;
  line-height: 21px;
  border: 0;
  outline: none;
  border: 3px solid none;
  font-size: 18px;
  font-weight: 400;
}

.city {
  width: 467px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: 3px solid transparent;
}

.check-in-out {
  position: absolute;
  width: 260px;
  margin-left: 467px;
  border-radius: 8px;
}
.search {
  width: 192px;
  background-color: #3077c6;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  border-radius: 8px;
  position: absolute;
  margin-left: 1040px;
}
.adults-children {
  width: 314px;
  padding-left: 259px;
  padding-right: 180px;
}
.linkstore {
  margin-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}
.dwnlinkgplay {
  margin-right: 16px;
}
/*media mobile*/
@media only screen and (max-width: 768px) {
  .container {
    max-width: 328px;
  }
  .offer__item__row {
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  }
  .offer-heading__row {
    padding-top: 24px;
  }
  .like {
    width: 64px;
    height: 58px;
  }
  .message {
    width: 58px;
    height: 58px;
  }
  .support {
    width: 52px;
    height: 64px;
  }
  .device {
    width: 70px;
    height: 47px;
  }
  /*offer mobile*/
  .offer__column-3 {
    width: 100%;
    height: 104px;
    margin: 32px 0;
    padding: 0;
  }
  .offer__item__row {
    flex-wrap: wrap;
  }
  .icon-offer-wrapper {
    width: 70px;
    height: 70px;
    margin-bottom: 16px;
  }
  .offer-heading__row h2::after {
    display: none;
  }

  .offer__item__row span {
    font-size: 15px;
    line-height: 18px;
  }
  /*footer mobile*/

  .footer-logo__row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }
  .footer__items a {
    text-decoration: underline;
  }

  .footer__items li {
    display: none;
  }

  .footer-list__row {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
  }
  .footer-list__col-2 {
    text-align: center;
    flex-basis: 30%;
  }

  .footer-copyright {
    font-size: 12px;
    padding-bottom: 40px;
    padding-top: 32px;
    text-align: center;
    line-height: 14px;
  }
  h4 {
    line-height: 18px;
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1232px) {
  /*Offer*/
  .offer__item__row {
    flex-wrap: wrap;
  }
  .container {
    max-width: 90%;
  }
  .offer__column-3 {
    height: 100%;
    flex-basis: 50%;
  }
}
